<header class="header">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <style>
    body {
      font-family: Arial, Helvetica, sans-serif;
    }

    .navbar {
      overflow: hidden;
      background-color: white;
      box-shadow: 0 2px 2px -2px rgba(0,0,0,.5);
    }

    .navbar a {
      float: left;
      font-size: 16px;
      color: black;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
    }

    .dropdown {
      float: left;
      overflow: hidden;
    }

    .dropdown .dropbtn {
      font-size: 16px;
      border: none;
      outline: none;
      color: black;
      padding: 14px 16px;
      background-color: inherit;
      font-family: inherit;
      margin: 0;
    }

    .dropdown-content {
      display: none;
      position: absolute;
      background-color: black;
      min-width: 160px;
      box-shadow: 0px 8px 16px 0px f4f4f4;
      z-index: 1;
    }

    .dropdown-content a {
      float: none;
      color: #f4f4f4;
      padding: 12px 16px;
      text-decoration: none;
      display: block;
      text-align: left;
    }

    .dropdown-content a:hover {
      background-color: #ddd;
    }

    .dropdown:hover .dropdown-content {
      display: block;
    }

    .dropdown {
      float: left;
      overflow: hidden;
    }

    .dropdown .dropbtn {
      font-size: 16px;
      border: none;
      outline: none;
      color: black;
      padding: 14px 16px;
      background-color: inherit;
      font-family: inherit;
      margin: 0;
    }

    .dropdown-content {
      display: none;
      position: absolute;
      background-color: #f9f9f9;
      min-width: 160px;
      box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
      z-index: 1;
    }

    .dropdown-content a {
      float: none;
      color: black;
      padding: 12px 16px;
      text-decoration: none;
      display: block;
      text-align: left;
    }

    .dropdown-content a:hover {
      background-color: #ddd;
    }

    .dropdown:hover .dropdown-content {
      display: block;
    }
    * {
      box-sizing: border-box;
    }
    body {
      font-family: 'Montserrat', sans-serif;
      line-height: 1.6;
      margin: 0;
      min-height: 100vh;
    }
    ul {
      margin: 0;
      padding: 0;
      list-style: none;
    }
    #logoImg{
      width: 25px;
      height: 25px;
      object-fit: cover;
    }
    h2,
    h3,
    a {
      color: #34495e;
    }

    a {
      text-decoration: none;
    }

  .dropdown{
    padding-right: 10%;
  }

    .logo {
      margin: 0;
      font-size: 1.45em;
    }

    .main-nav {
      margin-top: 0px;

    }
    .logo a,
    .main-nav a {
      padding: 10px 15px;
      text-transform: uppercase;
      margin-left: 15%;
      display: block;
    }

    .main-nav a {
      color: #34495e;
      font-size: .99em;
    }

    .main-nav a:hover {
      color: #718daa;
    }

    .header
    padding-top: .5em;
    padding-bottom: .5em;
    border: 1px solid #a2a2a2;
    background-color: #f4f4f4;
    -webkit-box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.75);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    }


    /* =================================
      Media Queries
    ==================================== */

    @media (min-width: 769px) {
      .header,
      .main-nav {
        display: flex;
      }
      .header {
        flex-direction: column;
        align-items: center;

      .header{
        width: 80%;
        margin: 0 auto;
        max-width: 1150px;
      }
    }

    }

    @media (min-width: 1025px) {
      .header {
        flex-direction: row;
        justify-content: space-between;
      }

    }

  </style>

  <script>
    function getPageUrl(newVersion) {

      var myString = window.location.href;
      var arr = myString.match(/.\d+\.\d+\.\d+/);
      var txt = myString.replace(arr[0],newVersion);
      console.log(txt);

      location.href = txt;
    }
  </script>
  </head>
<header>

  <div class="navbar">
    <h1 class="logo"><a href="https://entgra-documentation.gitlab.io/home/">
      {{- with .Site.Params.BookLogo -}}
      <img src="{{ . | relURL }}" alt="Logo" id="logoImg"/>
      Entgra</a></h1>
    {{- end -}}
    <div class="dropdown"   style="float:right">
      <button class="dropbtn">3.8.0
        <i class="fa fa-caret-down"></i>
      </button>
      <div class="dropdown-content" >
        <a  onclick="getPageUrl('v.3.7.0')">3.7.0</a>
        <a  onclick="getPageUrl('v.3.6.0')">3.6.0</a>
        <a onclick="getPageUrl('v.3.5.0')">3.5.0</a>
      </div>
    </div>
  </div>
</header>

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
{{- template "_internal/opengraph.html" . -}}

<title>{{ partial "docs/title" . }} | {{ .Site.Title -}}</title>
<link rel="icon" href="{{ "favicon.png" | relURL }}" type="image/x-icon">

<!-- Theme stylesheet, you can customize scss by creating `assets/custom.scss` in your website -->
{{- $styles := resources.Get "book.scss" | resources.ExecuteAsTemplate "book.scss" . | resources.ToCSS | resources.Minify | resources.Fingerprint }}
<link rel="stylesheet" href="{{ $styles.RelPermalink }}" integrity="{{ $styles.Data.Integrity }}">

{{ if default true .Site.Params.BookSearch }}
{{- $searchJS := resources.Get "search.js" | resources.ExecuteAsTemplate "search.js" . | resources.Minify | resources.Fingerprint }}
<script defer src="{{ $searchJS.RelPermalink }}" integrity="{{ $searchJS.Data.Integrity }}"></script>
{{ end }}
</header>
